h1{
    color:blue;
}
h2{
    background-color: brown;
    width: 50%;
    border: 3px solid red;

}
h1:hover{
    background-color: chocolate;
}
.container{
    background-color: rgb(9, 136, 125);
    width: 100%;
    border: 5px solid burlywood;
}
